body > #root > div > .bmain {
  height: 100vh;
  overflow: hidden;
}

.thide {
  overflow: hidden;
  width: 100vw;
  background-color: black;
}

.left {
  flex: 50%;
  overflow-y: scroll;
  position: relative;
  height: 75vh;
  background-color: black;
  font-size: x-small;
  width: 50vw;
}

#result {
  flex: 50%;
  overflow-y: scroll;
  position: relative;
  height: 75vh;
  width: 50vw;
  background-color: black;
}

#result::-webkit-scrollbar {
  display: none;
}

.left::-webkit-scrollbar {
  display: none;
}
