.hscroll {
  display: flex;
  overflow-x: auto;
  margin-bottom: 80px;
}

.hscroll::-webkit-scrollbar {
  display: none;
}

.main {
  background-color: black;
}

.welcome {
  background-color: black;
  color: azure;
  height: 200px;
  overflow-x: hidden;
}

.navbg {
  background-color: black;
}

.click {
  cursor: pointer;
}
